body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*layout for pop up div on load of the form contact*/

/*form contact layout for each section*/
#form-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-contact section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-message{
    color: red;
    font-size: 16px;
    font-weight: 600;
}

/*layout for the waiting modal during sending form contact to tatoo artist*/